@mixin anclas {
    text-transform: uppercase;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    border-top: solid 20px lightblue;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    top: 0;

    li:hover {
        background-color: lightblue;
        border-radius: 15px;
    }

    color: #fafafa;
}

li a {
    @include anclas;
    margin: 10px;
    font-weight: 500px;
    font-size: 25px;
    color: lightblue;
    padding: 10px;
}

.miLogo {
    width: 150px;
    display: block;
}